---
import Footer from "./Footer.astro";
import go1 from "../images/Content_marketing_2.png"
import go2 from "../images/Content_marketing.png"
import footer from "../images/fbFooter.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjajnog sadržaja?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="pl-5 md:pl-10 xl:pl-40 py-20 w-full  md:w-1/2">
        <h4 class="text-gray-800 font font-bold">Conent marketing @ epepe</h4>
            <h1 class="font-bold">Atraktivnim </br> sadržajem činimo </br> Vašu priču</br> zanimljivom</h1>
        </section>
       
       
       
        <section class=" px-5 2xl:py-10  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 
        lg:px-5 lg:justify-evenly  ">
        <div class="md:flex justify-center items-center">
            <h2 class="lg:pr-10 2xl:px-40 lg:px-20 font-bold md:whitespace-pre prose-lg lg:whitespace-nowrap 2xl:prose-2xl 2xl:py-10">Content is 
king
                    </span>
                    </h2>
                    <div class="prose-base md:prose-lg md:px-5 py-5 md:border-l-2 block border-black text-justify"> 
                        <p1 class="lg:gap-5 text-justify 2xl:prose-lg whitespace-pre-line lg:whitespace-normal lg:flex "> 
                        <span class="py-2">Content marketing je vrsta marketinga fokusirana na izradu, objavu i distribuciju sadržaja ciljanoj publici, prvenstveno „online“. OK, ova rečenica možda nije najljepša stvar koju smo ikad napisali. Ali važno je u startu razjasniti pojmove kojima se služimo…
                            Sadržaj je ključan. Ili, u orginalu i ponešto impresivnije: „Content is king“. No, što je to – sadržaj? Ukratko, sadržaj je sve čime se brend obraća potrošačima. Od oglasa u tisku do impressuma na web stranici. No, u užem smislu, sadržajem se smatraju tekstovi, fotografije, video-zapisi i sve druge forme originalno kreiranih informacija usmjerenih na privlačenje i zadržavanje pozornosti publike. Sadržaj je priča. A dobro ispričana priča često znači razliku između uspješnih i neuspješnih brendova.   

                            Pretjerujemo li u naglašavanju važnosti kvalitetnog sadržaja? Nipošto, 70 posto ljudi radije bi informacije </span>
                            <span >kompaniji ili njenim proizvodima primilo u obliku blog-posta ili novinske vijesti nego u obliku oglasa. Content marketing stvara 3 puta više „leadova“ (potencijalnih klijenata) od oglašavanja na uloženi budžet. Iako je punu popularnost dobio s ekspanzijom interneta i novih medija, content marketing već je dugo jedna od najvažnijih marketinških aktivnosti. Štoviše, još 1732. godine Benjamin Franklin počeo je objavljivati „Poor Richard’s Almanack“ kako bi promovirao svoju tiskaru. Imamo i bliži i popularniji primjer…  Jer, razmislite li o tome, što je Star Wars serijal nego content marketing usmjeren ka prodaji – figurica. Ako iza proizvoda stoji dobra i pamtljiva priča, s kojom se možete i emotivno povezati, puno ćete ga prije kupiti. Zato, ispričajmo zajedno Vašu priču.</span></p1>
                            </div>
           
            </section>







          
            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl px-10">
                <h3 class="font-bold lg:pr-20 2xl:pl-32">Što uključuje <span>
                   digitalno oglašavanje? </span></h3>
                </div>
                <div class="flex items-center justify-center px-2">
                <img src={go1} alt=""
                class="w-1/2 md:w-1/3">
                <img src={go2} alt=""
                class="w-1/2 md:w-1/3">
            </div> 
        </section>

              <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify lg:mx-40 whitespace-pre-line">
            <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Strategija content marketinga</h4>
                <p1>
                        Content marketing je, po definiciji, dugotrajan proces. Stoga mu je za uspjeh nužna strategija. Što objavljivati? Gdje i kada objavljivati? Koliko često? Kome se obraćati, kako strukturirati poruku? To sve definira strategija, koja je conditio sine qua non (da, još su i stari Rimljani znali za content marketing) uspješnog predstavljanja priče o svakom brendu.
                    
                    Čak 80 posto B2B kompanija u svijetu koristi content marketing. No, samo 43 posto imaju dokumentiranu strategiju. Taj broj penje se na 60 posto među najuspješnijim kompanijama. Agencija epepe kvalitetnom strategijom pomoći će Vam da se uvrstite u potonje.                        
                    Ponovno ciljajte one potencijalne korisnike koji su već posjetili vašu web stranicu i podsjetite ih na vaš 
                </p1>
               </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Izradu sadržaja</h4>
                <p1>
                        Google vam omogućava potpunu kontrolu vaših troškova, odnosno upravljanje budžetima za oglašavanje na dnevnoj i mjesečnoj bazi
                        Cijena Google oglašavanja sastoji se od fiksnog i varijabilnog dijela. Fiksni dio je cijena naše usluge za izradu strategije oglašavanja, izradu i postavljanje kampanji, vizuala i sve što uključuje oglašavanje na Googleu. Drugi, varijabilni dio čini vaš mjesečni budžet za oglašavanje.
                        Ne postoji minimalni niti maksimalni budžet za oglašavanje, a isti ovisi o Vašim ciljevima i mogućnostima.
                    </p1>

                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">SEO</h4>
                <p1>
                    SEO. Search engine optimization ili optimizacija za tražilice. U prijevodu: kako da Vas zapaze Google i oni koji ga koriste. Jednostavan opis iznimno kompleksne teme. SEO tehnike i izrada sadržaja usko su povezani. No, SEO je ipak nešto širi pojam…

                    Google i ostale tražilice, naravno, pretražuju stranice u potrazi za – sadržajem. Međutim, pitanje kako algoritmi rangiraju taj sadržaj ono je kojim se bave SEO eksperti. Odgovor je kompleksan i uključuje pravilno postavljanje sadržaja na internetskoj stranici brenda (on-site SEO), ali i niz aktivnosti izvan same stranice (off-site SEO).
                    
                    Nećemo Vam obećati da ćete uz našu pomoć „biti prvi na Guglu“. Ali, možemo Vam obećati da ćete, ispravnim korištenjem SEO aktivnosti, dugoročno poboljšati svoj „renking“ i privući više klijenata.
                </p1>  </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Analitika</h4>
                    <p1>
                jIstina, sadržaj je kralj. Ali, kralj ne postoji sam za sebe. Jednako tako niti sadržaj nije stvoren samo kako bismo dodali još koji niz „jedinica i nula“ u ionako krcate virtualne matrice. Njegov cilj je privlačenje korisnika. I pretvaranje tih korisnika u klijente. I zadržavanje tih klijenata i povećanje njihove kupnje.

                Za lijevak ili „funnel“ koji čine kvalitetan sadržaj i online marketing neizostavan korak je analitika. Koje ključne riječi najbolje prodaju? Koje najviše privlače publiku? Koje nam daju prednost pred publikom? Kada odgovorimo na ova pitanja, vraćamo se ponovo na prvi korak – unapređivanje strategije.
                
                I krug se ponovo pokreće.
            </p1>
                </div>


            </section>
            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    