---
import Footer from "./Footer.astro";
import go1 from "../images/Content_marketing_2.png"
import go2 from "../images/Content_marketing.png"
import footer from "../images/fbFooter.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjajnog sadržaja?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="pl-5 md:pl-44 py-20 w-full  md:w-1/2">
        <h4 class="text-gray-800 font font-bold">Conent marketing @ epepe</h4>
            <h1 class="font-bold">Atraktivnim </br> sadržajem činimo </br> Vašu priču</br> zanimljivom</h1>
        </section>
       
       
       
        <section class="py-10 px-10  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-44
        lg:px-24 lg:justify-evenly  ">
        <div class="xl:px-12">
            <h2 class="font-bold whitespace-nowrap 2xl:prose-2xl">Content is <span class="inline-block lg:hidden"><br></span> king
                    </span>
                    </h2>
                </div> 
                
                <p1 class="prose-base md:border-l-2 border-black md:pl-3 lg:flex  lg:gap-10 text-justify  lg:prose-base 2xl:px-20 2xl:prose-lg"> 
                        <span class=""> 
                            Content marketing je vrsta marketinga fokusirana na izradu, objavu i distribuciju sadržaja ciljanoj publici, prvenstveno „online“. OK, ova rečenica možda nije najljepša stvar koju smo ikad napisali. Ali važno je u startu razjasniti pojmove kojima se služimo…
                            Sadržaj je ključan. Ili, u orginalu i ponešto impresivnije: „Content is king“. No, što je to – sadržaj? Ukratko, sadržaj je sve čime se brend obraća potrošačima. Od oglasa u tisku do impressuma na web stranici. No, u užem smislu, sadržajem se smatraju tekstovi, fotografije, video-zapisi i sve druge forme originalno kreiranih informacija usmjerenih na privlačenje i zadržavanje pozornosti publike. Sadržaj je priča. A dobro ispričana priča često znači razliku između uspješnih i neuspješnih brendova.
                   
                       Pretjerujemo li u naglašavanju važnosti kvalitetnog sadržaja? Nipošto, 70 posto ljudi radije bi informacije </span>
                
                        <span class="">o kompaniji ili njenim proizvodima primilo u obliku blog-posta ili novinske vijesti nego u obliku oglasa. Content marketing stvara 3 puta više „leadova“ (potencijalnih klijenata) od oglašavanja na uloženi budžet. Iako je punu popularnost dobio s ekspanzijom interneta i novih medija, content marketing već je dugo jedna od najvažnijih marketinških aktivnosti. Štoviše, još 1732. godine Benjamin Franklin počeo je objavljivati „Poor Richard’s Almanack“ kako bi promovirao svoju tiskaru. Imamo i bliži i popularniji primjer…  Jer, razmislite li o tome, što je Star Wars serijal nego content marketing usmjeren ka prodaji – figurica. Ako iza proizvoda stoji dobra i pamtljiva priča, s kojom se možete i emotivno povezati, puno ćete ga prije kupiti.Zato, ispričajmo zajedno Vašu priču.</span>

                </p1>
           
            </section>







          
            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl px-10">
                <h3 class="font-bold lg:pl-20 2xl:pl-32">Što radi naš content marketing tim? </h3>
                </div>
                <div class="flex px-5">
                <img src={go1} alt=""
                class="w-1/2">
                <img src={go2} alt=""
                class="w-1/2">
            </div> 
            </section>

              <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify lg:mx-40">
            <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Precizno ciljanje potencijalnih klijenata i remarketing</h4>
                    <p1>
                        Korisnike možete precizno ciljati na temelju njihovih interesa, lokacije, godina te baš u onom trenutku kada na Google tražilici pretražuju vaše proizvode ili usluge.
                    </p1>
                <p1>
                    Prikažite vaše oglase na lokacijama gdje se nalaze vaši potencijalni kupci, a isključite one lokacije koje vam nisu zanimljive za poslovanje.
                        
                        
                    </p1>
                    <p1>
                        Ponovno ciljajte one potencijalne korisnike koji su već posjetili vašu web stranicu i podsjetite ih na vaš brend. Remarketing je jedna od najboljih stvari na Google-u i najčešći razlog velikog broja konverzija. 
                    </p1>
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Kontrola troškova</h4>
                    <p1>
                        Google vam omogućava potpunu kontrolu vaših troškova, odnosno upravljanje budžetima za oglašavanje na dnevnoj i mjesečnoj bazi
                    </p1>
                <p1>
                    Cijena Google oglašavanja sastoji se od fiksnog i varijabilnog dijela. Fiksni dio je cijena naše usluge za izradu strategije oglašavanja, izradu i postavljanje kampanji, vizuala i sve što uključuje oglašavanje na Googleu. Drugi, varijabilni dio čini vaš mjesečni budžet za oglašavanje.
                                            
                    </p1>
                    <p1>
                        Ne postoji minimalni niti maksimalni budžet za oglašavanje, a isti ovisi o Vašim ciljevima i mogućnostima.
                    </p1>

                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Mjerljivi rezultati</h4>
                    <p1>
                        Mjerite one rezultate koji su bitni za vaše poslovanje i na taj način prilagođavate strategiju oglašavanja. Na primjer, možete mjeriti broj klikova ili prikaza vaših oglasa, broj ostvarenih prodaja ili koliko puta je netko skinuo vašu aplikaciju.
                    </p1>
                <p1>
                    Agencija epepe mjesečno vodi kampanje vrijedne stotine tisuća kuna za svoje klijente. Naš posao uključuje sve aspekte oglašavanja. To su planiranje kampanje, izrada oglasa, postavljanje oglasa, praćenje i analitika, prilagodba kampanje. I onda ponovo, sve ispočetka…
                                               
                    </p1>
                    <p1>
                        Kvalitetu i uspješnost našeg rada mogu potvrditi mnoge reference, a među njima je najveći i vodeći lanac za trgovinu zlatom Auro Domus, za čiji web shop vodimo kompletnu strategiju oglašavanja na tržištu cijele Europe.
                    </p1>
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Zašto epepe?</h4>
                    <p1>
                        Vrlo jednostavno. Google oglašavanje je kompleksno i vrlo dinamično, a kako biste iskoristili njegov potpuni potencijal potrebni su specifično znanje i iskustvo uz konstantnu potrebu praćenja aktualnih trendova
                    </p1>
                <p1>
                    Naš Google Ads tim ima dugogodišnje iskustvo u vođenju Google kampanja, a godišnje upravlja budžetom većim od 5 milijuna kuna, koji je sve više raste. Osim toga, ponosna smo Google Partner agencija, certificirana u svim segmentima Google oglašavanja:
                    <ul>
                        <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>
                          Google Search Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Display Certification </li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Video Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Shopping Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span> Google App Certification</li>
                    </ul>
                        
                        
                    </p1>
                </div>


            </section>
            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    