---
import Footer from "./Footer.astro";
import do1 from "../images/DigOgl1.png"
import do2 from "../images/DigOgl2.png"
import footer from "../images/footer.jpg"
const grayText="Kako do uspješnog digitalnog oglašavanja?"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo za vas napraviti sve ostalo."
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-1/2  md:w-3/4 2xl:w-1/2">
        <h4 class="text-gray-800 font font-bold">Digitalno oglašavanje @ epepe</h4>
            
            <h1 class="font-bold whitespace-pre ">Istraživanje,kreativnost
i iskustvo u digitalnom
oglašavanju</h1>
      
        </section>
   
        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
        lg:pl-5 lg:justify-evenly  ">
        <div class="xl:px-10">
            <h2 class="lg:pr-10 lg:pl-20 font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">Digitalno
oglašavanje</span>
</h2>
</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                        <span>Digitalno oglašavanje ili online marketing je, kratko rečeno, korištenje internetskih platformi za dostavu oglasa do (potencijalnih) kupaca. Zvuči jednostavno, zar ne? Ali, iza uspješnih Google Ads kampanja, oglašavanja na 
                    </span>  
                        <span>Facebooku i drugim društvenim mrežama stoji opširno tehničko znanje, marketinško iskustvo, kreativan rad u pripremi oglasa, kao i detaljna analitika u izboru ključnih riječi, ciljanih publika i upravljanju budžetom.</span>
                </p1>
            </div>
            </section>



            
            <section class=" md:flex justify-center 2xl:items-start 2xl:px-32  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl">
                <h3 class="font-bold lg:pr-20 whitespace-pre">Što uključuje 
digitalno oglašavanje? </></h3>
                </div>
                <div class="flex items-center justify-center px-2">
                <img src={do1} alt=""
                class="w-1/2 md:w-1/3">
                <img src={do2} alt=""
                class="w-1/2 md:w-1/3">
            </div> 
            </section>

           
            <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify mx-5 md:mx-20 2xl:mx-40">

                <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Svijet digitalnog oglašavanja</h4>
                    <p1>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p1>
                <p1>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p1>
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Google i društvene mreže</h4>
                    <p1>
                        Google i društvene mreže donijeli su pravu revoluciju i demokratizaciju marketinga. Dok je nekad brend bio isključen iz oglasnog prostora ako nije mogao prikupiti desetke tisuća kuna za zakup medija, danas svatko, već s budžetom od svega par stotina ili tisuća kuna, može putem interneta doći do svojih klijenata.
                    </p1>
                <p1>
                    Google Ads sa svojim ciljanim kampanjama temeljenima na detaljnoj analizi podataka daje brendovima neslućene mogućnosti za kirurški precizno obraćanje kupcima. Simpatična slika, zanimljiva vijest, atraktivan video – sve to može biti dio marketinške kampanje prilagođene preferencijama korisnika.


                        
                        
                    </p1>
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Svijet digitalnog oglašavanja</h4>
                    <p1>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p1>
                <p1>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p1>
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Strategija oglašavanja</h4>
                    <p1>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p1>
                <p1>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p1>
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
        grayText={grayText}/>
        </main>
   
      
    </article>
    