---
import Footer from "./Footer.astro";
import do1 from "../images/DigOgl1.png"
import do2 from "../images/DigOgl2.png"
import footer from "../images/footer.jpg"
const grayText="Kako do uspješnog digitalnog oglašavanja?"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo za vas napraviti sve ostalo."
---
<article class=" relative prose-base lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="px-5 py-20">
            <div>
            <h4 class="text-gray-800 font font-bold">Digitalno oglašavanje @ epepe</h4>
            
            <h1 class="font-bold w-full lg:w-1/">Istraživanje, kreativnost </br> i iskustvo u digitalnom </br> oglašavanju</h1>
      
        </section>
   

            <section class=" bg-gray-100 md:flex  pl-10 py-20">
                <div class="flex flex-col xl:pl-20 xl:pr-20 justify-center items-start lg:w-full not-prose">
              
                <h2 class="font-bold w-1/2 lg:w-full text-4xl md:pr-5 xl:text-6xl "><span class=""> Digitalno oglašavanje</span>
                    </h2>
                </div> 
                <div class=" px-5 lg:px-10 py-10 md:border-l-2 block border-black prose-base "> 
                    <p class="md:flex md:flex-col xl:flex xl:flex-row text-justify 2xl:gap-10 ">
                        <span class="2xl:px-10"> 
                        Digitalno oglašavanje ili online marketing je, kratko rečeno, korištenje internetskih platformi za dostavu oglasa do (potencijalnih) kupaca. Zvuči jednostavno, zar ne? Ali, iza uspješnih Google Ads kampanja, oglašavanja na 
                    </span>  
                        <span class="xl:px-10">   Facebooku i drugim društvenim mrežama stoji opširno tehničko znanje, marketinško iskustvo, kreativan rad u pripremi oglasa, kao i detaljna analitika u izboru ključnih riječi, ciljanih publika i upravljanju budžetom.</span>
                </p>
            </div>
            </section>



            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-sm md:prose-xl px-10">
                <h2 class="font-bold lg:pl-20 2xl:pl-32">Što uključuje <span>
                   digitalno oglašavanje? </span></h2>
                </div>
                <div class="flex px-5">
                <img src={do1} alt=""
                class="w-1/2">
                <img src={do2} alt=""
                class="w-1/2">
            </div> 
            </section>

            <section class="prose-lg lg:prose-2xl grid grid-cols-1 gap-2
             md:grid-cols-2 text-justify lg:mx-20">

                <div class="px-5">
                    <p>01.</p>
                    <h4 class="font-bold">Svijet digitalnog oglašavanja</h4>
                    <p>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p>
                <p>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p>
                </div>

                <div class="px-5">
                    <p>02.</p>
                    <h4 class="font-bold">Google i društvene mreže</h4>
                    <p>
                        Google i društvene mreže donijeli su pravu revoluciju i demokratizaciju marketinga. Dok je nekad brend bio isključen iz oglasnog prostora ako nije mogao prikupiti desetke tisuća kuna za zakup medija, danas svatko, već s budžetom od svega par stotina ili tisuća kuna, može putem interneta doći do svojih klijenata.
                    </p>
                <p>
                    Google Ads sa svojim ciljanim kampanjama temeljenima na detaljnoj analizi podataka daje brendovima neslućene mogućnosti za kirurški precizno obraćanje kupcima. Simpatična slika, zanimljiva vijest, atraktivan video – sve to može biti dio marketinške kampanje prilagođene preferencijama korisnika.


                        
                        
                    </p>
                </div>

                <div class="px-5">
                    <p>03.</p>
                    <h4 class="font-bold">Svijet digitalnog oglašavanja</h4>
                    <p>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p>
                <p>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p>
                </div>

                <div class="px-5">
                    <p>04.</p>
                    <h4 class="font-bold">Strategija oglašavanja</h4>
                    <p>
                        Tanka je granica između oglasa i sadržaja u virtualnom svijetu. A dobro složeni sadržaj ili content preduvjet je svake uspješne priče.
                    </p>
                <p>
                        U svijetu digitalnog oglašavanja to znači da content marketing mora, osim o relevantnosti, čitljivosti i zanimljivosti sadržaja voditi računa i o njegovoj usklađenosti sa SEO principima, odnosno da treba biti optimiziran za tražilice.
                        
                        
                    </p>
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
        grayText={grayText}/>
        </main>
   
      
    </article>
    