---
import Footer from "./Footer.astro";
import go1 from "../images/drustMre1.png"
import go2 from "../images/drustMre2.png"
import footer from "../images/drustMre.jpg"
const footerText="Prvo, zapratite nas na društvenim mrežama. A drugo, javite se da Vam pomognemo ostvariti puni društveni potencijal."
const  grayText="Što sad?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-3/4  md:w-3/4 2xl:w-1/2">
            <h4 class="text-gray-800 font font-bold">Društvene mreže @ epepe</h4>
            <h1 class="font-bold whitespace-pre">Stvaramo trajne i
neraskidive odnose
brendova i online
društvene zajednice...</h1>
        </section>
        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
        lg:pl-5 lg:justify-evenly  ">
        <div class="xl:px-10">
            <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">..koristeći 
kreativnost, 
znanje i
iskustvo 
vođenja 
društvenih
mreža.  </h2>
</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                        <span class="not-prose text-sm"> 
                            Društvene mreže spadaju među najkontroverznije teme današnjice. Od mjesta na kojima su dogovarane revolucije i prosvjedi, što se događalo za vrijeme Arapskog proljeća, akcije Occupy Wall Street ili borbe za slobodni Hong Kong, preko mjesta na kojem bake dijele recepte za kolače i punjene paprike, do mjesta koje izrazito negativno utječe na samopouzdanje djevojaka tinejdžerske dobi – Facebook, Instragram, Tik-Tok i druge „socijalne mreže“ nezaustavljivo utječu na gotovo svaki dio našeg života.
                            Ono što je nekad bilo mjesto za virtualno ćaskanje i dijeljenje fotografija s odmora, danas spada među najuspješnije poslovne poduhvate u povijesti. Društvene mreže su pojam koji označava računalnu tehnologiju koja omogućava razmjenu ideja, misli i </span> 
                    
                        <span class="not-prose text-sm">informacija kroz virtualne mreže i zajednice. I rijetko tko danas može zamisliti svoj život bez njih.
                            Još više nego „prave“ osobe, bez društvenih mreža ne mogu živjeti niti brendovi. Posebice ako žele ostvariti ikakav kontakt sa svojim kupcima. One su virtualni izlog, trgovina, oglasna ploča, medijski prostor, knjiga žalbe… Uspješno upravljanje društvenim mrežama često znači razliku između uspješnih i propalih tvrtki.
                            Čak 75 posto klijenata očekuje odgovor od brenda u roku od 24 sata nakon poslanog upita putem društvenih mreža. Samo 25 posto brendova daje odgovor u očekivanom vremenu.
                            Agencija epepe je ovdje da „popuni“ razliku u korist Vaše tvrtke…</span>

                </p1>
            </div>
            </section>







            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl px-10">
                <h3 class="font-bold lg:pr-20 2xl:pl-32 md:whitespace-pre">Što radi naš tim
za društvene
mreže? </></h3>
                </div>
                <div class="flex items-center justify-center px-2">
                <img src={go1} alt=""
                class="w-1/2 md:w-1/3">
                <img src={go2} alt=""
                class="w-1/2 md:w-1/3">
            </div> 
            </section>

            <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify lg:mx-40 mx-10">

            <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Upravljanje društvenim mrežama</h4>
                    <p1>
                        Engleski pojam „social media management“ uključuje čitav niz aktivnosti koje se u hrvatskom prevode kao upravljanje društvenim mrežama. Među njima su komunikacija s korisnicima, objava sadržaja i kuriranje komentara, kao i analitika ključnih pokazatelja.
                    </p1>
                <p1>
                    Cilj svih tih aktivnosti jest povećanje broja pratitelja koje brend ima na društvenim mrežama, povećanje angažmana tih pratitelja, povećanje njihovog zadovoljstva, širenje svijesti o brendu i jačanje pozitivnog dojma o brendu.
                        
                        
                    </p1>
                 
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Strategija prisutnosti na društvenim mrežama</h4>
                    <p1>
                        Nisu sve društvene mreže stvorene jednake. Dijele se na društvene zajednice kao što je Facebook ili Linked In, alate za dijeljenje poruka kao što su Snapchat ili Messenger, video-repozitorije kao što je YouTube ili Tik-Tok (koji ima i elemente društvene zajednice), forume kao što je reddit, mikroblogove…
                    </p1>
                <p1>
                    Svaka od društvenih mreža ima svoje specifičnosti. Nije svaka idealna za predstavljanje brenda. Izradom strategija definiramo primarnu društvenu mrežu, onu koja će koristiti za većinu komunikacije s klijentima, kao i sekundarne, one koje će služiti kao podrška u stvaranju prepoznatljivosti brenda.
                    </p1>
                 
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Izrada sadržaja za društvene mreže</h4>
                    <p1>
                        Izreka o tome da se „knjiga ne sudi po koricama, niti čovjek po odijelu“ ne vrijedi na društvenim mrežama. U situaciji kada se borimo za kratkoročnu pozornost pratitelja s tisućama drugih distrakcija, atraktivno pakiranje gotovo je jednako važno kao i kvaliteta sadržaja.
                    </p1>
                <p1>
                    Čak 85 posto kompanija navodi kratke video-sadržaje kao najuspješnije formate objava na društvenim mrežama u prošloj godini. Kada ljudi čuju ili pročitaju informaciju, nakon 3 dana sjećaju se samo 10 posto podataka. U situaciji kada je ta informacija povezana s relevantnom ilustracijom, taj postotak zadržanih podataka u 3 dana doseže 65 posto.
                                               
                    </p1>
                    <p1>
                        Od infografika, preko postova i ilustracija do video-objava, naši specijalisti složit će najbolji sadržaj za vaše račune na društvenim mrežama.
                    </p1>
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Poticanje prodaje putem društvenih mreža</h4>
                    <p1>
                        Danas je teško prodati išta bez Facebook ili Instagram računa. Više od 54 posto klijenata koristi se društvenim mrežama za istraživanje brenda prilikom odluke o kupnji proizvoda. Pritom čak 79 posto ljudi tvrdi da sadržaj stvoren od korisnika – dakle, ne samog brenda – snažno utječe na njihove odluke.
                    </p1>
                <p1>
                    Trgovine su se danas preselile na društvene mreže. Ne koristite li njihov potencijal, gubite prihode i klijente.
                                         
                        
                    </p1>
                </div>


            </section>
            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    