---
import Footer from "./Footer.astro";
import Fo3 from "../images//Fo.png";
import Fo2 from "../images/Fo2.png";
import fbFooter from "../images/fbFooter.jpg";
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo za vas napraviti sve ostalo."
const  grayText="Kako dalje?"
---




<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-3/4  md:w-3/4 2xl:w-1/2">
        <h4 class="text-gray-800 font font-bold">Facebook oglašavanje @ epepe</h4>
        <h1 class="font-bold md:whitespace-pre">Među milijardama
korisnika društvenih
mreža ciljanim
kampanjama
pronalazimo Vaše
kupce.
        </h1>
    </div>

    </section>

    <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
    lg:pl-5 lg:justify-evenly  ">
    <div class="xl:px-10">
        <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">Facebook 
oglašavanje
</h2>
</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 

                    <span class="md:px-5"> 
                        Facebook i Instagram dvije su najpopularnije društvene mreže, a njihovo promišljeno korištenje nužan dio svake marketinške strategije. Zašto je to tako? Facebook i Instagram imaju više od 2 milijarde korisnika u svijetu, od čega je u Hrvatskoj aktivno njih 1,5 milijuna. 
                </span>  
                    <span class="">
                        Nažalost, samo redovitim objavljivanjem postova nećete biti u mogućnosti doći do većine vaše željene publike pa tu, kao Superman, dolazi Facebook & Instagram oglašavanje.
                    </span>
            </p1>
        </div>
        </section>


        <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
            <div class="w-full md:w-1/3 pt-20 prose-sm md:prose-xl px-10">
            <h3 class="font-bold lg:pl-20 2xl:pl-32">Što radi naš tim <span>
              za Facebook oglašavanje? </span></h3>
            </div>
            <div class="flex items-center justify-center px-2">
                <img src={Fo3} alt=""
                class="w-1/2 md:w-1/3">
                <img src={Fo2} alt=""
                class="w-1/2 md:w-1/3">
            </div> 
            </section>

      
        <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
        md:grid-cols-2 text-justify lg:mx-40 mx-10">


           <div class="px-5">
                <p1>01.</p1>
                <h4 class="font-bold">Zašto oglašavati na Facebook-u?</h4>
                <p1>
                    Facebook oglašavanje nudi vam ogromne mogućnosti i često je ključno u postizanju postavljenih ciljeva poslovanja. Neki od njih mogu biti:

                </p1>
            <ul>
                <li>✔️ podizanje svjesnosti o svom brandu</li>
                <li>✔️ povećanje interakcije na vašim  objavama</li>
                <li>✔️ dosezanje vaše potencijalne publike određenih interesa određenim lokacijama</li>
                <li>✔️ povećanje prometa na web stranici</li>
                <li>✔️ povećanje prodaje vaših  proizvoda ili usluga</li>
                i još mnogo toga…
                    
            </ul>
            </div>

    
            <div class="px-5">
                <p1>02.</p1>
                <h4 class="font-bold">Najveća prednost Facebook oglašavanja
                </h4>
                <p1>
                    Najveća prednost Facebook oglašavanja je u ciljanju svoje potencijalne publike. Korisnici Facebook definiraju kao komadić osobnog online prostora te uređuju svoje profile raznim detaljima iz vlastitog života. Isto tako, gledanjem određenog sadržaja “šalju poruku” samom Facebook-u o tome koji je sadržaj za njih zanimljiv i aktualan u tom trenutku.


                </p1>
            <p1>
                Pomoću tih podataka Facebook filtrira korisnike i omogućuje oglašivačima precizno ciljanje na temelju njihove dobi, spola, lokacije na kojoj se nalaze, statusa veze te vlastitih interesa i želja. 


                    
                    
                </p1>
            </div>

            
        </section>
        <section class="bg-[#f7f6f6] prose-xl grid grid-cols-1 md:grid-cols-3 py-5 md:flex md:items-center md:justify-center px-5 gap-10">
            <h2 class="font-bold col-span-2 pt-10 whitespace-nowrap">
                Zašto epepe?</h2>
            <div class="md:w-2/3  md:flex-col col-span-2 md:border-l-2 ">
            <p1 class="text-justify md:px-10"> 
                Digitalna agencija epepe mjesečno vodi kampanje vrijedne stotine tisuća kuna za svoje klijente. Naš posao uključuje sve aspekte oglašavanja:       </p1>
        <ul >
      <li> ✔️ planiranje kampanje </li> 
      <li> ✔️ izrada oglasa</li> 
      <li> ✔️ postavljanje oglasa</li>  
      <li> ✔️ praćenje i analitika </li> 
      <li>  ✔️ svakodnevna prilagodba kampanje</li> 
      <li> ✔️ izvješćivanje o uspješnosti</li> 
      <p1>I onda ponovo, sve ispočetka…</p1>
    </ul>
   
</div>
      
        </section>

        <Footer footer={fbFooter}
        footerText={footerText}
        grayText={grayText}/>
    </main>

  
</article>