---
import Footer from "./Footer.astro";
import go1 from "../images/google1.png"
import go2 from "../images/google2.png"
import footer from "../images/fbFooter.jpg"
const footerText="Ukoliko želite stručnog i pouzdanog partnera za plovidbu digitalnim svijetom oglašavanja na internetu, zatražite besplatno savjetovanje"
const  grayText="Kako dalje"
---

<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-3/4  md:w-3/4 2xl:w-1/2">
        <h4 class="text-gray-800 font font-bold">Google Ads @ epepe</h4>
        <h1 class="font-bold md:whitespace-pre">Originalnim i kreativnim
online  kampanjama 
povezujemo brendove s
kupcima</h1>
        </section>


        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
        lg:pl-5 lg:justify-evenly  ">
        <div class="xl:px-10">
            <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">Google 
Ads</h2>
</h2>
</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                Svake sekunde Google provodi 63 tisuće pretraga temeljem upita svojih korisnika. Šezdeset i tri tisuće. Svake. Sekunde! Većina rezultata pretraga sadrži Google oglase.
        
                Zamislite da možete doći do korisnika upravo u onom trenutku kada na internetu krenu tražiti proizvod ili uslugu koju vi nudite. Upravo to je cilj Google oglašavanja – pružanje informacija korisniku u onom trenutku kada ih on sam traži.
        
                Oglas izlazi tek kada korisnik upisivanjem neke ključne riječi u tražilici pokaže interes za vaše usluge ili proizvode, a naplaćuje se tek kada korisnik klikne na njega. Zbog toga, rezultati oglašavanja ponajviše ovise o detaljnom podešavanju kampanje, a njena uspješnost definira se puno prije samog početka oglašavanja.
        
                Digitalna agencija epepe za svoje klijente „vrti“ oglase vrijedne nekoliko stotina tisuća kuna mjesečno, a posebno je specijalizirana za e-commerce oglašavanje, odnosno oglašavanje web shopova..
            </p1>
        </section>
        

        <section class=" md:flex justify-center 2xl:items-start 2xl:px-32  md:prose-xl">
            <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl">
            <h3 class="font-bold lg:pr-20 whitespace-pre">Koje su
prednosti Google 
Ads 
oglašavanja?</h3>
                </div>
                <div class="flex items-center justify-center px-2">
                <img src={go1} alt=""
                class="w-1/2 md:w-1/3">
                <img src={go2} alt=""
                class="w-1/2 md:w-1/3">
            </div> 
            </section>

            <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify mx-5 md:mx-20 2xl:mx-40">

                <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Precizno ciljanje potencijalnih klijenata i remarketing</h4>
                    <p1>
                        Korisnike možete precizno ciljati na temelju njihovih interesa, lokacije, godina te baš u onom trenutku kada na Google tražilici pretražuju vaše proizvode ili usluge.
                    </p1>
                <p1>
                    Prikažite vaše oglase na lokacijama gdje se nalaze vaši potencijalni kupci, a isključite one lokacije koje vam nisu zanimljive za poslovanje.
                        
                        
                    </p1>
                    <p1>
                        Ponovno ciljajte one potencijalne korisnike koji su već posjetili vašu web stranicu i podsjetite ih na vaš brend. Remarketing je jedna od najboljih stvari na Google-u i najčešći razlog velikog broja konverzija. 
                    </p1>
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Kontrola troškova</h4>
                    <p1>
                        Google vam omogućava potpunu kontrolu vaših troškova, odnosno upravljanje budžetima za oglašavanje na dnevnoj i mjesečnoj bazi
                    </p1>
                <p1>
                    Cijena Google oglašavanja sastoji se od fiksnog i varijabilnog dijela. Fiksni dio je cijena naše usluge za izradu strategije oglašavanja, izradu i postavljanje kampanji, vizuala i sve što uključuje oglašavanje na Googleu. Drugi, varijabilni dio čini vaš mjesečni budžet za oglašavanje.
                                            
                    </p1>
                    <p1>
                        Ne postoji minimalni niti maksimalni budžet za oglašavanje, a isti ovisi o Vašim ciljevima i mogućnostima.
                    </p1>

                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Mjerljivi rezultati</h4>
                    <p1>
                        Mjerite one rezultate koji su bitni za vaše poslovanje i na taj način prilagođavate strategiju oglašavanja. Na primjer, možete mjeriti broj klikova ili prikaza vaših oglasa, broj ostvarenih prodaja ili koliko puta je netko skinuo vašu aplikaciju.
                    </p1>
                <p1>
                    Agencija epepe mjesečno vodi kampanje vrijedne stotine tisuća kuna za svoje klijente. Naš posao uključuje sve aspekte oglašavanja. To su planiranje kampanje, izrada oglasa, postavljanje oglasa, praćenje i analitika, prilagodba kampanje. I onda ponovo, sve ispočetka…
                                               
                    </p1>
                    <p1>
                        Kvalitetu i uspješnost našeg rada mogu potvrditi mnoge reference, a među njima je najveći i vodeći lanac za trgovinu zlatom Auro Domus, za čiji web shop vodimo kompletnu strategiju oglašavanja na tržištu cijele Europe.
                    </p1>
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Zašto epepe?</h4>
                    <p1>
                        Vrlo jednostavno. Google oglašavanje je kompleksno i vrlo dinamično, a kako biste iskoristili njegov potpuni potencijal potrebni su specifično znanje i iskustvo uz konstantnu potrebu praćenja aktualnih trendova
                    </p1>
                <p1>
                    Naš Google Ads tim ima dugogodišnje iskustvo u vođenju Google kampanja, a godišnje upravlja budžetom većim od 5 milijuna kuna, koji je sve više raste. Osim toga, ponosna smo Google Partner agencija, certificirana u svim segmentima Google oglašavanja:
                    <ul>
                        <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>
                          Google Search Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Display Certification </li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Video Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span>Google Shopping Certification</li>
                          <li class="flex items-center gap-1"> <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                          </svg></span> Google App Certification</li>
                    </ul>
                        
                        
                    </p1>
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
        grayText={grayText}/>
        </main>
   
      
    </article>
    