---
import Footer from "./Footer.astro";
import go1 from "../images/gd1.png"
import go2 from "../images/gd2.png"
import footer from "../images/drustMre.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjajnog novog dizajna?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="pl-5 md:pl-44 py-20 w-full  md:w-1/2">
        <h4 class="text-gray-800 font font-bold">Grafički dizajn @ epepe</h4>
            <h1 class="font-bold">Stvaramo vizualna rješenja koja inspiriraju ljude i potiču emocije.</h1>
        </section>
        <section class="py-10 px-10  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-44
        lg:px-14 lg:justify-evenly  ">
        <div class="xl:px-22">
            <h2 class="font-bold whitespace-nowrap prose-xl 2xl:prose-2xl flex flex-col">
                    <span class="md:whitespace-nowrap">Grafički dizajn -</span><span class="whitespace-nowrap">esencija kreacije</span>  
                    </h2>
                </div> 
                <div class=" px-5 lg:px-18 py-10 md:border-l-2 block border-black prose-lg "> 
                    <p1 class="lg:flex gap-10 text-justify ">
                        <span class="2xl:px-10"> 
                            Prva online trgovina nastala je 1982. godine u Bostonu. Na platformi imena Boston Computer Exchange mogla su se kupovati računala i njihove komponente. Od tih pionirskih početaka do danas internet prodaja nezaustavljivo raste. U 2022. maloprodajni dio e-trgovine iznosi oko 5,7 trilijuna američkih dolara, a procjenjuje se da će ova brojka tijekom sljedećih pet godina porasti za 50%! Danas gotovo da i nema trgovine koja nema svoju online varijantu. Odnosno, </span> 
                    
                        <span class="xl:px-10">može se reći da postoji sve manji broj online trgovina koje postoje i u fizičkom obliku. Izrada web shopa je proces koji se sastoji od niza koraka, od pripreme materijala do dizajna i developmenta. U epepe-u nastaju profitabilne online trgovine prilagođene specifičnom načinu poslovanja tvrtki. Dizajniramo web stranice raznolikih značajki, izgleda i funkcionalnosti kako bi se najbolje prilagodile potrebama naših klijenata.</span>

                </p1>
            </div>
            </section>

            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-sm md:prose-xl px-10">
                <h3 class="font-bold lg:pl-20 2xl:pl-32"class="font-bold lg:pl-10 2xl:pl-22">Što radi naš dizajnerski tim? </h3>
                </div>
                <div class="flex px-5">
                <img src={go1} alt=""
                class="w-1/2">
                <img src={go2} alt=""
                class="w-1/2">
            </div> 
            </section>
            <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify lg:mx-40">

            <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Branding i izrada logotipa</h4>
                    <p1>
                        Prema istraživanju koje je proveo Missouri University of Science and Technology, posjetitelji kompanije posvete u prosjeku 6,48 sekundi logotipu brenda. Brendiranje je dugotrajni proces koji započinje stvaranjem vizualnog identiteta brenda.
                    </p1>
                    <p1>
                        Agencija epepe kreirat će logotip i osnovnu poruku koja odgovara imidžu i cilju Vašeg brenda. I koji će izgledati dobro na različitim platformama. Definiranjem knjige grafičkih standarada pripremit ćemo i smjernice za primjenu logotipa na svim relevantnim medijima – od posjetnica do reklama.
                    </p1>
             
                 
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Grafički dizajn</h4>
                    <p1>
                        Boja. Font. Ključna fotografija. Dimenzije. Odnosi. Linije. Prostor. Svaki od ovih faktora, uz još mnoge druge, utječe na to kakva je poruka koju šaljete i kako će ona biti primljena kod ciljane publike. Kvalitetan grafički dizajn ispunit će slike i riječi – značenjem.
                    </p1>
                    <p1>
                        Agencija epepe nudi širok spektar usluga grafičkog dizajna, od posjetnica, preko brošura i letaka do oglasa za tisak i plakate.
                    </p1>
                 
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Dizajn proizvoda</h4>
                    <p1>
                        Koliko god tvrdili da ne treba suditi knjigu po koricama, 92,6 posto ljudi kaže da im je vizualna dimenzija primarni faktor kod odluke o kupnji proizvoda. Izgled proizvoda osnovna je poruka kupcima. Dizajnom definiramo radi li se o luksuznom ili masovnom proizvodu, suvremenom ili tradicionalnom, koja je njegova ciljana publika, koje će im probleme riješiti, kako bi se zbog toga trebali osjećati i još mnogo toga…               
                    </p1>
               
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Dizajn interijera</h4>
                    <p1>
                        Kao što je izgled proizvoda prva stvar koja će privući ili odbiti kupce, izgled Vašeg interijera šalje snažnu poruku posjetiteljima, koja mora biti usklađena s vrijednostima Vašeg brenda.
                    </p1>
                    <p1>
                        Agencija epepe pruža usluge savjetovanja o izboru namještaja, podnih i zidnih obloga, rasvjete, ali i teksturama i bojama interijera. Izrađujemo idejna rješenja i 3D vizualizacije, a po potrebi organiziramo i nadgledamo radove u prostoru.
                    </p1>
                </div>


            </section>
            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    