---
import Footer from "./Footer.astro";
import go1 from "./public/izrada_web_stranica.png"
import go2 from "./public/izrada_web_stranica_2.png"
import footer from "./public/footer.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjajne nove web stranice?"
---

<article class=" relative prose-base lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="px-5 py-20">
            <div>
            <h4 class="text-gray-800 font font-bold">Izrada web stranica @ epepe</h4>
            <h1 class="font-bold w-full lg:w-1/2">Istraživanje, kreativnost i iskustvo u izradi web stranica koje osvajaju na prvi pogled</h1>
        </section>


        <section class=" bg-gray-100 md:flex  py-10 2xl:px-34">
            <div class="flex flex-col  pl-10 2xl:pl-20 justify-center items-start  not-prose">
          
            <h2 class="font-bold md:w-1/2 text-4xl md:pr-5 xl:text-5xl "><span>Digitalno <span class="md:whitespace-nowrap">globalno selo</span>
                </h2>
            </div> 
            <div class=" px-5 lg:px-20 py-10 md:border-l-2 block border-black prose-base "> 
                <p class="md:flex md:flex-col xl:flex-row text-justify gap-2">
                    <span class="2xl:px-10"> 
                        U današnjem digitalnom „globalnom selu“, web stranica je često prvi kontakt koji klijenti imaju s Vašim brendom. Zato se gotovo 95 posto prvih impresija korisnika odnosi na web dizajn. A svatko želi da prvi dojam bude najbolji mogući. (Jer, kao što izreka kaže, nemate drugu šansu ostaviti prvi dojam.)

Zadatak dobrih web dizajnera i programera danas je izuzetno izazovan. Moraju biti ukorak s najnovijom tehnologijom, pratiti pravne zahtjeve (kao, primjerice, kome sve smijete „servirati“ kolačiće), a pritom biti</span> 
                
                    <span class="xl:px-10">inovativni te razmišljati kreativno i otvoreno kako bi stvorili vrhunski dizajn i korisničko iskustvo.

                        Upravo to radimo u agenciji epepe. Izrađujemo sjajne web stranice koje jednako dobro izgledaju na svim platfomama, koje ispunjavaju i nadmašuju očekivanja korisnika i koje Vaš brend predstavljaju u najboljem mogućem svjetlu.
                        
                        Iza nas su godine rada, pregršt referenci, stotine izrađenih stranica i jednako toliko zadovoljnih klijenata. Voljeli bismo i Vas uvrstiti na taj popis…</span>

            </p>
        </div>
        </section>


        <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
            <div class=" md:w-1/3 pt-20 prose-lg md:prose-xl px-5">
            <h2 class="font-bold lg:pl-20 2xl:pl-32 xl:w-4/5">Što uključuje izrada web stranica? </h2>
            </div>
            <div class="flex px-5">
                <img src={go1} alt=""
                class="w-1/2">
                <img src={go2} alt=""
                class="w-1/2">
            </div> 
            </section>

            <section class="prose-lg lg:prose-2xl grid grid-cols-1 gap-2
            md:grid-cols-2 text-justify lg:mx-20">

            <div class="px-5">
                    <p>01.</p>
                    <h4 class="font-bold">Web dizajn</h4>
                    <p>
                        Naši dizajneri i tehničari vode vas od nule do suvremene i responzivne stranice koja izgleda i ponaša se odlično na svim platformama. Stvaramo sigurne, brze i moderno dizajnirane stranice optimizirane za maksimalno korisničko iskustvo. etražuju vaše proizvode ili usluge.
                    </p>
                <p>
                    Vaše internetsko sjedište ispunit ćemo kvalitetnim tekstovima i originalnim fotografijama, pripremiti osnovne SEO postavke i povezati ga sa čitavim svijetom
                        
                        
                    </p>
                
                </div>

                <div class="px-5">
                    <p>02.</p>
                    <h4 class="font-bold">Web development</h4>
                    <p>
                        Ponekad web stranica mora biti i više od izloga Vašeg brenda. Takva situacija zvuči kao idealan izazov za naše web developere. Stvarajući unikatna „front-end“ i „back-end“ rješenja, prilagođeni CMS i web aplikacije, transformirat će Vašu stranicu u jedinstveno internetsko čvorište čije su mogućnosti neograničene.
                    </p>
            

                </div>

                <div class="px-5">
                    <p>03.</p>
                    <h4 class="font-bold">Pravna dokumentacija</h4>
                    <p>
                        Iako je Internet dominantna tema u našim životima već desetljećima, zakonodavne prakse tek se hvataju u koštac s brojnim implikacijama koje iz toga proizlaze. Zbog toga se konstantno mijenja pravna dokumentacija koju Vaša stranica mora imati, kako bi zadovoljila sve regulative.i broj klikova ili prikaza vaših oglasa, broj ostvarenih prodaja ili koliko puta je netko skinuo vašu aplikaciju.
                    </p>
                <p>
                    Kako postaviti kolačiće i analitiku u skladu s nedavno usvojenim EU direktivama? Kako osigurati zaštitu GDPR podataka Vaših posjetitelja? Kako omogućiti legalno prikupljanje informacija o svima koji posjete Vaše stranice? To su pitanja kojima se bavi naš pravni odjel i vanjski suradnici.
                                               
                    </p>
                 
                </div>

                <div class="px-5">
                    <p>04.</p>
                    <h4 class="font-bold">Održavanje web stranica</h4>
                    <p>
                        Web stranica je kao živi organizam. Svakodnevno se mijenja, raste,
                         širi u skladu s Vašim potrebama i očekivanjima posjetitelja. Mijenja se i okruženje u kojem je nastala. Održavanje web stranice prati te promjene i 
                         integrira ih tako da osigura dug i sretan život vaše stranice.
                    </p>
                <p>
                    Agencija epepe nudi usluge hostinga, održavanja servera, zakupa domena, instalacije zakrpa i unaprjeđenja te druge povezane usluge.
                        
                    </p>
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    