---
import Footer from "./Footer.astro";
import go1 from "../images/wsh1.png"
import go2 from "../images/wsh2.png"
import footer from "../images/drustMre.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjajnog novog web shopa?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-10  pl-5 2xl:pl-60 py-5 md:w-1/2 lg:w-3/4">
        <h4 class="text-gray-800 font font-bold">Izrada web shopa @ epepe</h4>
            <h1 class="font-bold 2xl:whitespace-pre-line">Istraživanje, kreativnost 
i iskustvo u izradi web 
shopa koje osvaja na 
prvi pogled</h1>
        </section>

        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
            lg:pl-5 lg:justify-evenly  ">
            <div class="xl:px-20">
                <h2 class="lg:pr-10 2xl:px-10 font-bold whitespace-nowrap md:whitespace-wrap md:whitespace-pre lg:whitespace-nowrap prose-lg 2xl:prose-2xl">Izrada web
 shopa
                    </h2>
                </div> 
            </div> 
            <div class="prose-base md:prose-lg md:px-10 py-5 md:border-l-2 block border-black "> 
                <p1 class="text-justify 2xl:px-10 xl:prose-lg lg:flex gap-10"> 
                    <span class="">   
                            Prva online trgovina nastala je 1982. godine u Bostonu. Na platformi imena Boston Computer Exchange mogla su se kupovati računala i njihove komponente. Od tih pionirskih početaka do danas internet prodaja nezaustavljivo raste. U 2022. maloprodajni dio e-trgovine iznosi oko 5,7 trilijuna američkih dolara, a procjenjuje se da će ova brojka tijekom sljedećih pet godina porasti za 50%! Danas gotovo da i nema trgovine koja nema svoju online varijantu. Odnosno, </span> 
                    
                        <span class="">može se reći da postoji sve manji broj online trgovina koje postoje i u fizičkom obliku. Izrada web shopa je proces koji se sastoji od niza koraka, od pripreme materijala do dizajna i developmenta. U epepe-u nastaju profitabilne online trgovine prilagođene specifičnom načinu poslovanja tvrtki. Dizajniramo web stranice raznolikih značajki, izgleda i funkcionalnosti kako bi se najbolje prilagodile potrebama naših klijenata.</span>

                </p1>
            </div>
            </section>







          
            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-sm md:prose-xl px-10">
                <h3 class="font-bold lg:pl-20 2xl:pl-32">Uspješno pokretanje online trgovine ovisi o cijelom nizu elemenata </h2>
                </div>
                <div class="flex items-center justify-center px-2">
                    <img src={go1} alt=""
                    class="w-1/2 md:w-1/3">
                    <img src={go2} alt=""
                    class="w-1/2 md:w-1/3">
                </div> 
                </section>

                <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
                md:grid-cols-2 text-justify lg:mx-40 mx-10">
        
        
                   <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Najbolja tehnološka rješenja</h4>
                    <p1>
                        Jedan od bitnih faktora uspješnosti vaše online trgovine jest odabir rješenja odnosno tehnologije u kojoj će vaš shop biti izrađen. IT stručnjaci epepe-a web shopove grade uglavnom pomoću WooCommerce-a – open-source platforme za upravljanje sadržajem. Praktično i fleksibilno rješenje razvijeno za WordPress omogućuje vam brojne dodatke te potpunu kontrolu nad vašom internet trgovinom. Ova je platforma i prvi odabir najvećeg broja online trgovaca – koristi je oko 40% svih web stranica.
                    </p1>
             
                 
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Jednostavno i sigurno plaćanje</h4>
                    <p1>
                        Plaćanje je jedan od najosjetljivijih trenutaka kod online kupnje, a izbor načina plaćanja u web shopu, kao i njegova sigurnost, izuzetno su bitni za što bolju konverziju kupaca. Kod stvaranja web shopa, usmjereni smo na poboljšanje korisničkog iskustva. To, između ostalog, uključuje i pojednostavljivanje sustava za online plaćanja te implementaciju sigurnosnih rješenja što korisnicima omogućuje bezbrižno online kupovanje.
                    </p1>
                 
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Web trgovina globalna je priča</h4>
                    <p1>
                        Online trgovina ne poznaje granice. Kada ste online, možete trgovati globalno, a ako se kupci u vašoj trgovini mogu služiti svojim jezikom, olakšat ćete im kupnju. Digitalna agencija epepe ima veliko iskustvo u izradi višejezičnih on line shopova. Estonski, grčki, mađarski.. – you name it!
                    </p1>
                <p1>
                    IT dekorateri vašu će virtualnu trgovinu urediti i ukrasiti prema vašoj želji uz personalizirana grafička rješenja. Ukoliko proizvode koje prodajete kupcu treba i dostaviti, nema problema – HP express plugin osigurava sigurnu dostavu vaše pošiljke!
                                               
                    </p1>
               
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Lokacija, lokacija i lokacija</h4>
                    <p1>
                        Dobra lokacija ključna je za uspješno poslovanje trgovine. Kako one fizičke, tako i online. Dobro posložena web stranica i kvalitetno odrađeni SEO (Search engine optimization) za web shop, s ciljem što boljeg pozicioniranja na Google tražilici, temelj su svih ostalih aktivnosti u digitalnom marketingu.

                        …i još puno toga
                    </p1>
                </div>


            </section>
            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    