---
import MiniFooter from "./MiniFooter.astro";

import footer from "../images/fbfooter.jpg"
import cover from "../images/onama.jpg"
const footerText="Vrijeme je da prijeđemo na vas. Spremni za suradnju?"
const grayText ="Ok, dosta o nama"
import { zaposleni } from "../hooks/zaposlenici";
import linkedin from "../images/linkedin1.png"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-1/2  md:w-3/4 2xl:w-1/2">
        <h4 class="text-gray-800 font font-bold">Što radimo?</h4>
     
            <h1 class="font-bold whitespace-pre">Kreativne ideje,
pouzdane strategije i
usmjereni razvoj u
stvaranju trajnih
brendova i kvalitetnog
odnosa s kupcima.</h1>
  
        </section>


        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
        lg:pl-5 lg:justify-evenly  ">
        <div class="xl:px-10">
            <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">"Full service"
agencija za
marketing </h2>

</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                Epepe je ‘full service’ agencija za marketing. To znači da okupljamo tim iskusnih stručnjaka iz raznih područja marketinga, koji mogu ponuditi široki spektar usluga klijentima željnima veće vidljivosti u ‘online’ i ‘offline’ svijetu te boljeg povezivanja sa svojim kupcima.
                    Ukratko, na jednom mjestu imamo sve što je vašoj tvrtki potrebno: od izrade i održavanja internetskih stranica, preko izrade sadržaja i održavanja društvenih mreža do dizajna i oglašavanja na internetu i izvan njega.
                </span>  
                <span>  
                    Stvaramo sjajne internetske stranice i web-shopove. Vodimo društvene mreže i sve ostale aspekte direktne komunikacije s klijentima. Izrađujemo kreativne sadržaje u tekstu i slici (i pokretnim slikama, dapače). Osmišljavamo marketinške strategije i PR kampanje.
                    Da, radimo i Google oglase i Facebook oglase i oglase za televiziju i radio i one plakate s trakicama na kojima su zapisani brojevi telefona i koje se mogu otrgnuti kad se plakat zalijepi na rasvjetni stup…
                    OK, ovo zadnje ipak ne radimo.
                </span>  
            </p1>
            </div>
            </section>

            <div class="not-prose">
                <img src={cover} alt="" class="w-full h-[50%]" >
            </div>


          <div class="block md:flex md:justify-center md:items-center prose-base pb-44">
            <section class="pl-5 2xl:pl-40 ">
                <h4 class="text-gray-800 font font-bold">epepe je</h4>
                <h3 class="font-bold md:whitespace-pre">Prvi korak prema
ostvarenju vaših
planova.</h3>
            </section>
            <section class="prose-lg lg:prose-2xl grid grid-cols-1 
            md:grid-cols-2 text-justify lg:pr-20  md:border-l whitespace-pre-line py-10 2xl:pr-40">

            <div class="px-10 ">
                    <p1>01.</p1>
                    <h4 class="font-bold">Agencija za marketing</h4>
                    <p1>Mi smo skladni tim profesionalaca specijaliziranih za različite poslove u marketingu, koji čine cjelinu moćniju od zbroja dijelova.</p1>
                <p1>Na jednom mjestu pokrivamo sve vaše marketinške potrebe.                    
                    </p1>
                </div>

                <div class="px-10 ">
                    <p1>02.</p1>
                    <h4 class="font-bold">Mjesto dobrog dizajna</h4>
                    <p1>Naše ime je nastalo na valu nostalgije kao referenca na blok televizijskih reklama poznat kao EPP ili „ekonomsko-promidžbeni program“.</p1>
                <p1>A naši dizajneri se inspiriraju poviješću dok stvaraju za budućnost.</p1>
                </div>

                <div class="px-10 ">
                    <p1>03.</p1>
                    <h4 class="font-bold">Digitalna agencija</h4>
                    <p1>Imamo „analogne“ korijene, ali živimo u digitalnom svijetu. Zato smo idealan suputnik na sve kompleksnijem „on-line“ tržištu.
                    </p1>
                    <p1>I da, čuli smo za metaverse.
                    </p1>
                </div>
                <div class="px-10 ">
                    <p1>04.</p1>
                    <h4 class="font-bold">Agencija za oglašavanje</h4>
                    <p1>Od „gugla do drito u vugla“, pokrivamo najširi mogući spektar u oglašavačkoj industriji. Online i offline oglašavanje, ali i izravna komunikacija putem društvenih mreža i call centra.
                    </p1><p1>Imamo sve što je suvremenoj tvrtki potrebno za dolazak do klijenata</p1>
                </div>


            </section>

    
    
                </section>
            </div>
          </div>
  
          <section class="py-20 not-prose  px-10  md:px-20 md:flex items-center md:gap-20 bg-gray-100">
            <h2 class="font-bold whitespace-nowrap text-6xl ">Naš tim</h2>
            <div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
                <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> Strojevi mogu puno toga, ali još uvijek nisu sposobni stvoriti orignalne misli i kreativne ideje. Zato naša agencija za marketing mora zapošljavati – ljude. Nisu savršeni primjerci svoje vrste, ali zato su dosta dobri u dizajnu, pisanju tekstova, izradi web stranica i nizu drugih stvari.
             
            </p1>
        </div>
        </section>


    
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 not-prose pt-10   ">
             {zaposleni.map((empo) => {
                return (
                    <div class="relative group" >
                <div class="w-full overflow-hidden h-full  ">
                   <img src={empo.pic} loading="lazy" alt="humans" class="w-full rounded-lg transition-all duration-500 object-cover group-hover:scale-[110%] " />
                    </div>

                    <div class=" ">
                     
                        
                        <div class="text-white flex-col opacity-0 transition-all ease-in-out group duration-500 absolute                      lg:bottom-0  bottom-0 translate-y-0 group-hover:-translate-y-0 group-hover:opacity-100 w-full 
                     group-hover:bg-gradient-to-t from-purple-800 transparent h-1/2 lg:h-full">
                     <div class= "pt-58 md:pt-24 lg:pt-24 xl:pt-24 2xl:pt-36 pl-5 pb-10 md:pb-10 flex text-base not-prose flex-col justify-start items-start  xl:pl-10">

                     <p1 class="group font-bold 2xl:text-2xl"> {empo.name}</p1>
                     <p1 class="text-lg">{empo.role}</p1>

                     <a href="https://linkedin.com/" class="  w-1/4 md:w-1/2 lg:pb-20"> <img src={linkedin} alt="" class="w-1/4"> </a>
                    </div>
                    </div>
                     
                     </div>
                    </div>
                    )
             })}

     
            </div>
       

        <MiniFooter footerText={footerText}
        grayText={grayText}/>
            
        </main>
  
      
    </article>
    