---
import Footer from "./Footer.astro";
import Vfs1 from "../images/vfs1.png";
import Vfs2 from "../images/Vfs2.png";
import fbFooter from "../images/vodenjeFacebookaFooter.jpg";
const footerText="Važno je tko Vam vodi društvene mreže. Prepustite nam se s povjerenjem i uživajte u rezultatima!"

const grayText="Što sad?"
---



<article class=" relative prose-base lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="px-5 py-20">
            <div>
            <h4 class="text-gray-800 font font-bold">Vođenje Facebook stranice @ epepe</h4>
            <h1 class="font-bold w-full lg:w-1/2">Kvalitetnim sadržajem i komunikacijom stvaramo trajni odnos brendova s kupcima
        </h1>
    </div>
    </section>



    <section class=" bg-gray-100 md:flex  pl-10 py-20">
        <div class="flex flex-col xl:pl-20 xl:pr-20 justify-center items-start lg:w-full not-prose">
      
        <h2 class="font-bold w-1/2 lg:w-1/2 text-4xl md:pr-5 xl:text-6xl "><span class=""> Vođenje Facebook stranice</span>
            </h2>
        </div> 
        <div class=" px-5 lg:px-10 py-10 md:border-l-2 block border-black prose-base xl:pr-32"> 
            <p class="md:flex md:flex-col lg:flex-row text-justify gap-2 ">
                <span class="2xl:px-10"> 
                    Što želi poručiti svijetu, koje probleme može riješiti, a kojim vrijednostima doprinijeti? Više nego ikad prije, brendovi imaju svoju osobnost. Oni nisu samo ime ispred proizvoda ili usluge, već materijalizacija različitih vrijednosti i životnih stilova. Ikea ne prodaje namještaj, nego osjećaj udobnosti vlastitog doma, a Levi’s ne prodaje traperice, već integritet i odvažnost. 

                    Društvene mreže imaju nemjerljiv potencijal za širenje svijesti o brendovima i to treba znati iskoristiti. Iako se često kaže da je pojaviti se pola posla, na
            </span>  
                <span class="2xl:px-10">   Vdruštvenim kanalima situacija je ipak nešto drugačija. Epitet “društveni” ovdje je s razlogom, jer sve se svodi na komunikaciju, interakciju i dijeljenje (relevantnog) sadržaja. Vođenje Facebook stranice izgleda jednostavno, no u stvarnosti ono zahtjeva određene vještine, posvećenost, profesionalnost i kontinuitet. Za sve navedeno uspješno se brinu naši social media manageri, koji s ekipom iz ostalih odjeljenja pomažu u izgradnji prepoznatljivog digitalnog identiteta Vašeg brenda. U praksi to možemo podijeliti u nekoliko osnovnih koraka.</span>
           
        </p>
    </div>
    </section>


    <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
        <div class="w- md:w-1/3 pt-20 prose-xl md:prose-xl px-10">
        <h2 class="font-bold lg:pl-20 2xl:pl-32">Kako naš tim vodi Facebook profile?</h2>
        </div>
        <div class="flex px-5">
            <img src={Vfs2} alt=""
            class="w-1/2">
            <img src={Vfs1} alt=""
            class="w-1/2">
        </div> 
        </section>

         
        <section class="prose-lg lg:prose-2xl grid grid-cols-1 gap-2
        md:grid-cols-2 text-justify lg:mx-20">

        <div class="px-5">
                <p>01.</p>
                <h4 class="font-bold">Upoznavanje s brendom i postavljanje temelja</h4>
                <p>
                    Svaka dobra marketinška priča započinje temeljitom analizom. Osim ako ne krećemo “od nule”, naš je prvi korak izučavanje postojećeg Facebook profila i prezentacija naših uvida, sugestija i ideja. Volimo se sprijateljiti s brendom, razumjeti njegovu osobnost, ali i sudjelovati u kreiranju jasne vizije za budućnost. Gdje smo sada, kamo putujemo, kakvu online (i offline) zajednicu želimo stvoriti? Kad smo to definirali, posvećujemo se procesu osmišljavanja informativnog, edukativnog i zanimljivog sadržaja koji će dosljedno prenositi esenciju brenda, a kojeg će korisnici Facebooka pratiti jer ima “ono nešto”. 
                </p>
            <p>
                Prije nego se ozbiljno bacimo na pozicioniranje Vaše Facebook stranice u online svijet, potrebno nam je nekoliko stvari. Materijali, materijali, materijali. Od Vas ćemo zatražiti grafičke standarde, fotografije, brand book (ako ga posjedujete) i sve što nam može pomoći da krenemo s radom. Ako vam nešto od toga nedostaje, ne brinite – izvlačimo najbolje od onoga što imamo i znamo točno što vam je potrebno!
                    
                    
                </p>
            </div>

            <div class="px-10">
                <p>02.</p>
                <h4 class="font-bold">Izrada strategije i plana objava za društvene mreže</h4>
                <p>
                    “A goal without a plan is just a wish.” poznata je poslovica, a mi stvari ne volimo stvari prepuštati slučaju. I zato treba zasukati rukave!  Pratimo trendove na društvenim mrežama, znamo kako algoritam okrenuti u vašu korist i pratimo što publika voli. Vaše želje i zamisli su nam važne, a u skladu s njima pripremamo generalni tromjesečni i detaljni mjesečni plan tema, pišemo captione i dizajniramo vizuale koje potom šaljemo na odobrenje.
                </p>
            <p>
                Ako nas pitate, dobar plan je onaj koji je konkretan i razrađen, ali istovremeno dovoljno fleksibilan da se u njega uklope neplanirani sadržaji. Uz to, rado ćemo vam predložiti suradnje ili za vas organizirati nagradne natječaje. Kad je strategija mudro osmišljena, a inspiracija počiva na dobrim temeljima – rezultati neće izostati.


                    
                    
                </p>
            </div>

            <div class="px-10">
                <p>03.</p>
                <h4 class="font-bold">Komuniciranje s Facebook zajednicom</h4>
                <p>
                    Uz kreiranje sadržaja, vođenje Facebook stranice uključuje i odgovaranje na upite i poruke korisnika, u skladu s informacijama kojima raspolažemo. Pri tome je važno imati čim bolji “Response time” koji ljudima daje očekivanja o vremenu potrebnom da se dobije odgovor, kao i “Response rate”, koji se odnosi na ukupni postotak odgovorenih poruka. Ako su oba kriterija zadovoljena, Vaša će stranica dobiti “Very responsive to messages“ badge, što pozitivno utječe na online reputaciju brenda.
                </p>
            <p>
                ako čak 75 % klijenata očekuje odgovor u roku od 24 sata nakon poslanog upita, samo 25 % njih daje odgovor u očekivanom vremenu. Mi preferiramo spadati u ovu manjinu. Uz poruke, pratimo komentare ispod objava te osvrte na stranicu i odgovaramo na njih u tonu koji najbolje odgovora osobnosti brenda.
                    
                    
                </p>
            </div>

            <div class="px-10">
                <p>04.</p>
                <h4 class="font-bold">Analitika ključnih pokazatelja</h4>
                <p>
                    Super je biti kreativan, lijepo je kad se ljudi nasmiju čitajući objave, ali ono što nas (osim toga) zanima je konkretan rezultat. Nakon dogovorenog perioda, prikupljamo sve relevantne statističke podatke, analiziramo ih i šaljemo na uvid. Ovaj nam je korak važan jer nam govori o tome gdje smo sada te kako se razvija društveni život brenda na mreži. 
                </p>
            <p>
                Neki od tih podataka su doseg Facebook stranice, posjeti profilu i rast broja pratitelja, a dostupan nam je i pregled objava s najboljim rezultatima po broju lajkova, komentara i dijeljenja. A nismo još ni krenuli s nabrajanjem. Nakon uvida u statističke podatke radimo na prilagodbi postojećeg plana, po potrebi širimo ciljeve, marljivo skupljamo ideje za daljnje kreiranje sadržaja. Uz to, ključno nam je zadovoljstvo naših klijenata!
                    
                    
                </p>
            </div>


        </section>


        </section>

        <Footer footer={fbFooter} footerText={footerText}
        grayText={grayText}/>
    </main>

  
</article>