---
import Footer from "./Footer.astro";
import Vfs1 from "../images/vodenje_instagrama.png";
import Vfs2 from "../images/vodenje_instagrama_2.png";
import igFooter from "../images/Vodenje_ig_footer.jpg";
const footerText="Prvo, zapratite nas na društvenim mrežama, a drugo, javite se da Vam pomognemo ostvariti puni društveni potencijal."
const grayText="Što sada?"
---



<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class=" md:pl-20  pl-5 2xl:pl-52 pt-10 w-3/4  md:w-3/4 2xl:w-1/2">
            <h4 class="text-gray-800 font font-bold">Vođenje Instagram profila @ epepe</h4>
            <h1 class="font-bold whitespace-normal md:whitespace-pre">Kako osvojiti 
Instagram? Bez
stručnog tima,
„možete se 
slikat'“…</h1>
        </section>



        <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
        lg:pl-5 lg:justify-evenly  ">
        <div class="xl:px-10">
            <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">Vođenje 
Instagram 
profila
</h2>
</div> 
<div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                            <span class=""> Znate li da je najveći mogući broj hashtagova ispod objave na Instagramu trideset, a dnevni broj komentara ograničen na dvjesto? Upoznati smo s još puno trikova koji mogu pomoći da Vaš brend na ovoj društvenoj mreži bezbrižno raste.Ako se sjećate mladih dana Instagrama, onda znate da je od svojih početaka koncipiran kao platforma koja komunicira primarno kroz vizualni odnosno foto, i danas posebno popularan video format. Nekad nam je feed bio poput galerije fotografija s crticama iz života “običnih” ljudi – naših prijatelja, kolega i</span> 
                            <span class=""> poznanika, dok ćemo danas prije naići na objavu poznatog influencera nego vlastitog susjeda. To znači da je situacija sada znatno drugačija, a Instagram funkcionira po principu složenih algoritama koji mnogim korisnicima zadaju glavobolje. Kako proširiti i učvrstiti svoju Insta zajednicu, istaknuti se među konkurencijom i prepoznati kada je vrijeme za udruživanje s influencerima, pitanja su koja se vrzmaju po glavama poduzetnika. Mi smo tu da vam pomognemo!</span>
            </p1>
        </div>
        </section>


        <section class=" md:flex justify-center 2xl:items-start 2xl:px-30  md:prose-xl gap-10">
            <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl px-10">
            <h3 class="font-bold lg:pr-20 2xl:pl-32 whitespace-pre">Kako naš tim
vodi Instagram
profile?</h3>
            </div>
            <div class="flex items-center justify-center px-2">
            <img src={Vfs2} alt=""
            class="w-1/2 md:w-1/3">
            <img src={Vfs1} alt=""
            class="w-1/2 md:w-1/3">
        </div> 
        </section>
    
        <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
        md:grid-cols-2 text-justify lg:mx-40">
    
        <div class="px-5">
                <p1>01.</p1>
                <h4 class="font-bold">Feed kao platno - vizualna kompnenta</h4>
                <p1>
                    Čak 85 posto kompanija navodi kratke video-sadržaje kao najuspješnije formate objava na društvenim mrežama u prošloj godini. Kada ljudi čuju ili pročitaju informaciju, nakon 3 dana sjećaju se samo 10 % podataka. U situaciji kada je ta informacija povezana s relevantnom ilustracijom, taj postotak zadržanih podataka u 3 dana doseže 65 %. 
                </p1>
            <p1>
                Što više reći, osim da je vrijeme da se bacimo na posao! Klijentima ćemo uvijek predložiti temeljitu pripremu materijala – prvenstveno fotografija, koji će proizvod ili uslugu približiti postojećim i potencijalim korisnicima. Uz to, naš kreativni tim osmislit će i grafička rješenja pomoću kojih će feed zablistati i biti ugodan oku korisnika. Ukratko, ultimativni cilj kojem težimo je da online lice Vašeg brenda jednog dana dobije svoje mjesto u članku naslova poput ovog: “Deset Instagram profila kojih se isplati pratiti”.
                    
                </p1>
            </div>

            <div class="px-5">
                <p1>02.</p1>
                <h4 class="font-bold">Sadržaj kakvog želimo vidjeti na Instagramu</h4>
                <p1>
                    Jedna sjajna opcija ove mreže je “Save post”, odnosno mogućnost da se sadržaj na kojeg smo naišli skrolanjem sačuva u posebnoj ladici, u koju uvijek možemo zaviriti. To su objave kakvima težimo! Postupak planiranja sadržaja za Instagram sličan je kao i za sestrinsku društvenu mrežu Facebook, a sastoji se od analize dosadašnjeg rada, postavljanja ciljeva i kreiranja plana na više razina.
                </p1>
            <p1>
                Sadržaj koji se objavljuje na dvjema društvenim mrežama često se preklapa, stoga je korisno znati procijeniti kad je relevantno da se objavi isti ili sličan sadržaj, a kada ga je potrebno posebno prilagoditi. Sve to ovisi o više faktora.


                    
                    
                </p1>
            </div>

            <div class="px-5">
                <p1>03.</p1>
                <h4 class="font-bold">Odabir vrste sadržaja</h4>
                <p1>
                    Instagram nudi puno načina za prezentaciju sadržaja. Primjerice, iz jednostavnog razloga, algoritam voli carousel objave – što se čitatelj duže zadržava na istoj, znači da su ispunjeniji zahtjevi korisnika. Ako želite poraditi na povećanju vidljivosti, popularni Reels bit će sjajan odabir, a što se tiče načina prezentacije – kreativnosti na volju! 
                </p1>
            <p1>
                Uz objave koje se poput mozaika slažu na našem profilu, story je sjajna značajka za komunikaciju s pratiteljima na dnevnoj bazi. U djetinjstvu su nam čitali priče kako bismo lakše zaspali, a danas ih sami “gledamo” na Instagramu, često u isto doba dana. Velika je vjerojatnost da će pratitelji jednostavno naletjeti na vašu priču, a često i zaviriti na Vaš profil ako je dnevni sadržaj kojeg nudite zanimljiv i interaktivan. Također, priče dopuštaju nešto ležerniji sadržaj i odličan su način da postanete dragi prijatelji svoji publike.
                    
                </p1>
            </div>

            <div class="px-5">
                <p1>04.</p1>
                <h4 class="font-bold">Početak i kraj svega - (statistička) analiza</h4>
                <p1>
                    Svrha algoritama društvenih mreža je personalizacija iskustva korisnika, a uvid u analitiku pomaže nam da vidimo kako naša publika diše. Što najbolje prolazi, kakvu vrstu sadržaja naši pratitelji preferiraju i jesu li angažirani koliko bismo željeli. Mjerilo relevantnosti sadržaja za Instagram je takozvana “stopa interakcije”, a ta se stopa svodi na matematičku formulu i uključuje različite parametre: lajkove, komentare, broj followera i tako dalje. Sve se broji! 
                </p1>
            <p1>
                Da ne duljimo, ovo je važno za sve društvene mreže pa tako ni Instagram nije iznimka. Brinemo se da zajednica oko Vašeg brenda raste, da sadržaj koji plasiramo na mreže nije samom sebi svrha, već da ispunjava svoju informativnu, prodajnu, edukativnu i zabavnu ulogu  – sve to na obostranu korist.
                    
                    
                </p1>
            </div>


        </section>


        </section>

        <Footer footer={igFooter}
        footerText={footerText}
        grayText={grayText}/>
    </main>

  
</article>