---
import Footer from "./Footer.astro";
import do1 from "../images/Viber_1-min.png"
import do2 from "../images/Viber_2-min.png"
import footer from "../images/ViberFooter.jpg"
const footerText="Za stručno vođenje kroz proces Viber oglašavanja, besplatno savjetovanje i postizanje uspjeha u digitalnom svijetu kontaktirajte nas već danas."
const  grayText="Kako dalje?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="pl-5 md:pl-44 py-20 w-full  md:w-1/2">
        <h4 class="text-gray-800 font font-bold">Viber oglašavanje @ epepe</h4>
            <h1 class="font-bold">Kreativno i ciljano Viber </br> oglašavanje za povezivanje </br> brendova s ciljanom publikom.</h1>
        </section>


        <section class="py-10 px-10  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-24
        lg:px-24 lg:justify-evenly  ">
        <div class="xl:px-32">
            <h2 class="font-bold whitespace-nowrap 2xl:prose-2xl">Viber oglašavanje</h2>
                </div> 
                <div class=" px-5 lg:px-18 py-10 md:border-l-2 block border-black prose-lg "> 
                    <p1 class="prose-base lg:flex-cols lg:gap-10 text-justify  lg:prose-base  2xl:prose-lg"> 
    
                        <span> 
                            Viber je jedna od najpopularnijih aplikacija za razmjenu poruka s preko milijardu korisnika diljem svijeta. Kao takva, predstavlja izvrsnu platformu za oglašavanje, posebno ako želite doprijeti do moderno orijentirane publike. 
                    </span>  
                        <span>   Viber Ads omogućuje vam da svoje oglase prikažete korisnicima Viber aplikacije u njihovom inboxu ili u okviru chatova s drugim korisnicima. Ovo je idealna prilika za promociju novih proizvoda i usluga te izgradnju brenda.</span>
                        <span> Korištenjem Viber Ads-a, imate mogućnost ciljanja publike prema različitim kriterijima kao što su lokacija, spol, dob, interes, obrazovanje i još mnogo toga. Također, možete koristiti remarketing kako biste dosegnuli korisnike koji su već pokazali interes za vaše proizvode ili usluge.</span>
                </p1>
            </div>
            </section>





            




            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class=" md:w-1/3 pt-20 prose-xl md:prose-xl px-10">
                <h3 class="font-bold lg:pl-20 2xl:pl-32">Koje su prednosti Viber oglašavanja? </h3>
                </div>
                <div class="flex px-5">
                <img src={do1} alt=""
                class="w-1/2">
                <img src={do2} alt=""
                class="w-1/2">
            </div> 
            </section>

            <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
            md:grid-cols-2 text-justify lg:mx-40">

                <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Velik doseg publike</h4>
                    <p1>
                        Viber je popularna platforma za slanje poruka, s više od milijardu korisnika diljem svijeta. Ova platforma nudi marketinškim stručnjacima velik potencijal za dosezanje široke publike, posebno među mlađim generacijama koje su najaktivnije na ovoj aplikaciji. 
                    </p1>
                
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Personalizirana komunikacija</h4>
                    <p1>
                        Viber omogućava tvrtkama da izravno komuniciraju s korisnicima putem privatnih poruka. Ova jedan-na-jedan komunikacija omogućava tvrtkama da personaliziraju svoje poruke i prilagode ih svakom pojedinačnom korisniku, što povećava vjerojatnost konverzije.
                    </p1>
            
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Praćenje rezultata kampanje</h4>
                    <p1>
                        Viber omogućava praćenje uspješnosti kampanje u stvarnom vremenu. Marketinški stručnjaci mogu pratiti statistiku kampanje i analizirati njezin učinak u stvarnom vremenu kako bi brzo reagirali na promjene i prilagodili strategiju kampanje prema potrebama svoje publike
                    </p1>
              
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Dostupnost Viber oglasa</h4>
                    <p1>
                        Viber oglasi su dostupni na različitim formatima, poput tekstualnih, slikovnih, video oglasa i drugih interaktivnih sadržaja. To znači da tvrtke imaju veliku fleksibilnost u stvaranju oglasa i prilagođavanju sadržaja svojoj publici.
                    </p1>
            
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    