---
import Footer from "./Footer.astro";
import do1 from "./public/wid1.png"
import do2 from "./public/wid2.png"
import footer from "./public/footer.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjanje nove web stranice?"
---

    <article class=" relative  prose-xl lg:prose-2xl  ">
        <main class=" absolute top-20 ">
            <section class="px-5 py-20">
                <div>
                <h4 class="text-gray-800 font font-bold">Web & Design. @ epepe</h4>
                <h1 class="font-bold w-full lg:w-1/2">Web & Design.</h1>
            </section>

       

            <section class=" bg-gray-100 md:flex  py-20">
                <div class="flex flex-col  pl-10 2xl:pl-20 xl:pr-20 justify-center items-start  not-prose">
              
                <h2 class="font-bold md:w-1/2 text-4xl md:pr-5 xl:text-5xl "><span class="whitespace-nowrap">Dizajn je</span> najmoćnija forma umjetnosti?
                    </h2>
                </div> 
                <div class=" px-5 lg:px-20 py-10 md:border-l-2 block border-black prose-base "> 
                    <p class="md:flex md:flex-col xl:flex-row text-justify gap-2">
                        <span class="2xl:px-10"> 
                            Vizualna pojavnost stvara snažan prvi dojam. Kako za osobe, to vrijedi i za brendove – proizvode i tvrtke. U eri vizualnog sadržaja, dizajn u velikoj mjeri utječe na identitet tvrtke, a njegovi elementi imaju značajnu ulogu u oglašavanju.

Grafički i web dizajn danas su neizostavni dio poslovne strategije svake tvrtke. Oplemenjuju proizvode i tradicionalnog i digitalnog marketinga te ih podižu na jednu novu razinu.

Iako imaju više dodirnih točaka, postoji jedna ključna razlika između dizajna i umjetnosti. Dok je umjetnost intuitivnija i nepodvrgnuta standardima, dizajn ima jasnu svrhu i strukturu – služi pronalaženju rješenja, komunikaciji s korisnicima i </span> 
                    
                        <span class="xl:px-10">motivira ih na neku akciju. Ukratko – ima funkciju.

                            Dizajn je proces za koji je potrebna praksa i cijeli set vještine, kao što su poznavanje boja, oblika, linija, proporcija i pravila pozicioniranja.  O kojoj god da se vrsti dizajna radi (a ima ih mnogo), dizajner su ti koji moraju razmišljati o publici, odnosno korisnicima kojima je namijenjen njihov rad.
                            
                            Tim dizajnera digitalne agencije epepe barata različitim vještinama i zna puno toga o grafici, bojama, tipografiji, fotografiji, ilustraciji, programskim jezicima i jezicima za stiliziranje, skriptiranju, bazama podataka, optimizaciji, multimedijskim tehnologijama i web marketingu. I ono što je svakako jako važno – ne nedostaje im kreativnosti!</span>

                </p>
            </div>
            </section>


            <section class=" md:flex justify-center 2xl:items-start 2xl:px-44  md:prose-xl">
                <div class=" md:w-1/3 pt-20 prose-lg md:prose-xl px-5">
                <h2 class="font-bold lg:pl-20 2xl:pl-32">Što uključuje izrada web stranica? </h2>
                </div>
                <div class="flex px-5">
                <img src={do1} alt=""
                class="w-1/2">
                <img src={do2} alt=""
                class="w-1/2">
            </div> 
            </section>
            <section class="prose-lg lg:prose-2xl grid grid-cols-1 gap-2
            md:grid-cols-2 text-justify lg:mx-20">

            <div class="px-5">
                    <p>01.</p>
                    <h4 class="font-bold">Web dizajn</h4>
                    <p>
                        Naši dizajneri i tehničari vode vas od nule do suvremene i responzivne stranice koja izgleda i ponaša se odlično na svim platformama. Stvaramo sigurne, brze i moderno dizajnirane stranice optimizirane za maksimalno korisničko iskustvo. <br>

Vaše internetsko sjedište ispunit ćemo kvalitetnim tekstovima i originalnim fotografijama, pripremiti osnovne SEO postavke i povezati ga sa čitavim svijetom…
                    </p>
                
                </div>

                <div class="px-5">
                    <p>02.</p>
                    <h4 class="font-bold">Web development</h4>
                    <p>
                        Ponekad web stranica mora biti i više od izloga Vašeg brenda. Takva situacija zvuči kao idealan izazov za naše web developere. Stvarajući unikatna „front-end“ i „back-end“ rješenja, prilagođeni CMS i web aplikacije, transformirat će Vašu stranicu u jedinstveno internetsko čvorište čije su mogućnosti neograničene.
                    </p>
            
                </div>

                <div class="px-5">
                    <p>03.</p>
                    <h4 class="font-bold">Pravna dokumentacija</h4>
                    <p>
                        Iako je Internet dominantna tema u našim životima već desetljećima, zakonodavne prakse tek se hvataju u koštac s brojnim implikacijama koje iz toga proizlaze. Zbog toga se konstantno mijenja pravna dokumentacija koju Vaša stranica mora imati, kako bi zadovoljila sve regulative. <br>

Kako postaviti kolačiće i analitiku u skladu s nedavno usvojenim EU direktivama? Kako osigurati zaštitu GDPR podataka Vaših posjetitelja? Kako omogućiti legalno prikupljanje informacija o svima koji posjete Vaše stranice? To su pitanja kojima se bavi naš pravni odjel i vanjski suradnici.
                    </p>
              
                </div>

                <div class="px-5">
                    <p>04.</p>
                    <h4 class="font-bold">Održavanje web stranica</h4>
                    <p>
                        Web stranica je kao živi organizam. Svakodnevno se mijenja, raste, širi u skladu s Vašim potrebama i očekivanjima posjetitelja. Mijenja se i okruženje u kojem je nastala. Održavanje web stranice prati te promjene i integrira ih tako da osigura dug i sretan život vaše stranice.

                        Agencija epepe nudi usluge hostinga, održavanja servera, zakupa domena, instalacije zakrpa i unaprjeđenja te druge povezane usluge.
                    </p>
            
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    