---
import Footer from "./Footer.astro";
import do1 from "../images/wid1.png"
import do2 from "../images/wid2.png"
import footer from "../images/footer.jpg"
const footerText="Jednostavno! Dovoljno je da se javite i mi ćemo napraviti sve ostalo."
const  grayText="Kako do sjanje nove web stranice?"
---
<article class=" relative prose-xl lg:prose-2xl  ">
    <main class=" absolute top-20 ">
        <section class="pl-5 md:pl-44 py-20 w-full  md:w-1/2">
        <h4 class="text-gray-800 font font-bold pb-10">Web & Design. @ epepe</h4>
                <h1 class="font-bold">Web & Design.</h1>
            </section>

       

            <section class="pt-5 px-5  md:flex md:items-center md:justify-center md:gap-5 bg-gray-100 2xl:px-20
            lg:pl-5 lg:justify-evenly  ">
            <div class="xl:px-10">
                <h2 class="lg:pr-10 lg:pl-20  font-bold whitespace-normal md:whitespace-pre prose-lg 2xl:prose-2xl">Dizajn je 
najmoćnija 
forma
umjetnosti?</span> 
                    </h2>
                </div> 
                <div class="lg:px-5  md:px-10 py-5 md:border-l-2 block border-black "> 
                    <p1 class="lg:flex prose-base lg:gap-5 text-justify 2xl:px-20 2xl:prose-xl xl:px-10 "> 
                        <span class=""> Vizualna pojavnost stvara snažan prvi dojam. Kako za osobe, to vrijedi i za brendove – proizvode i tvrtke. U eri vizualnog sadržaja, dizajn u velikoj mjeri utječe na identitet tvrtke, a njegovi elementi imaju značajnu ulogu u oglašavanju.Grafički i web dizajn danas su neizostavni dio poslovne strategije svake tvrtke. Oplemenjuju proizvode i tradicionalnog i digitalnog marketinga te ih podižu na jednu novu razinu.
                        Iako imaju više dodirnih točaka, postoji jedna ključna razlika između dizajna i umjetnosti. Dok je umjetnost intuitivnija i nepodvrgnuta standardima, dizajn ima jasnu svrhu i strukturu – služi pronalaženju rješenja, komunikaciji s korisnicima i 
                        </span>
                        <span class="">motivira ih na neku akciju. Ukratko – ima funkciju.
                            Dizajn je proces za koji je potrebna praksa i cijeli set vještine, kao što su poznavanje boja, oblika, linija, proporcija i pravila pozicioniranja.  O kojoj god da se vrsti dizajna radi (a ima ih mnogo), dizajner su ti koji moraju razmišljati o publici, odnosno korisnicima kojima je namijenjen njihov rad.
                            Tim dizajnera digitalne agencije epepe barata različitim vještinama i zna puno toga o grafici, bojama, tipografiji, fotografiji, ilustraciji, programskim jezicima i jezicima za stiliziranje, skriptiranju, bazama podataka, optimizaciji, multimedijskim tehnologijama i web marketingu. I ono što je svakako jako važno – ne nedostaje im kreativnosti!
                        </span>

                </p1>
            </div>
            </section>


        
            <section class=" md:flex justify-center 2xl:items-start 2xl:px-32  md:prose-xl">
                <div class="w-full md:w-1/3 pt-20 prose-lg md:prose-xl">
                <h3 class="font-bold lg:pr-20 whitespace-pre">Što uključuje izrada web stranice</h3>
                </div>
                <div class="flex items-center justify-center px-2">
                    <img src={do1} alt=""
                    class="w-1/2 md:w-1/3">
                    <img src={do2} alt=""
                    class="w-1/2 md:w-1/3">
                </div> 
                </section>
                <section class="prose-lg lg:prose-xl grid grid-cols-1 gap-6
                md:grid-cols-2 text-justify mx-5 md:mx-20 2xl:mx-40">
            
                <div class="px-5">
                    <p1>01.</p1>
                    <h4 class="font-bold">Web dizajn</h4>
                    <p1>
                        Naši dizajneri i tehničari vode vas od nule do suvremene i responzivne stranice koja izgleda i ponaša se odlično na svim platformama. Stvaramo sigurne, brze i moderno dizajnirane stranice optimizirane za maksimalno korisničko iskustvo. <br>

Vaše internetsko sjedište ispunit ćemo kvalitetnim tekstovima i originalnim fotografijama, pripremiti osnovne SEO postavke i povezati ga sa čitavim svijetom…
                    </p1>
                
                </div>

                <div class="px-5">
                    <p1>02.</p1>
                    <h4 class="font-bold">Web development</h4>
                    <p1>
                        Ponekad web stranica mora biti i više od izloga Vašeg brenda. Takva situacija zvuči kao idealan izazov za naše web developere. Stvarajući unikatna „front-end“ i „back-end“ rješenja, prilagođeni CMS i web aplikacije, transformirat će Vašu stranicu u jedinstveno internetsko čvorište čije su mogućnosti neograničene.
                    </p1>
            
                </div>

                <div class="px-5">
                    <p1>03.</p1>
                    <h4 class="font-bold">Pravna dokumentacija</h4>
                    <p1>
                        Iako je Internet dominantna tema u našim životima već desetljećima, zakonodavne prakse tek se hvataju u koštac s brojnim implikacijama koje iz toga proizlaze. Zbog toga se konstantno mijenja pravna dokumentacija koju Vaša stranica mora imati, kako bi zadovoljila sve regulative. <br>

Kako postaviti kolačiće i analitiku u skladu s nedavno usvojenim EU direktivama? Kako osigurati zaštitu GDPR podataka Vaših posjetitelja? Kako omogućiti legalno prikupljanje informacija o svima koji posjete Vaše stranice? To su pitanja kojima se bavi naš pravni odjel i vanjski suradnici.
                    </p1>
              
                </div>

                <div class="px-5">
                    <p1>04.</p1>
                    <h4 class="font-bold">Održavanje web stranica</h4>
                    <p1>
                        Web stranica je kao živi organizam. Svakodnevno se mijenja, raste, širi u skladu s Vašim potrebama i očekivanjima posjetitelja. Mijenja se i okruženje u kojem je nastala. Održavanje web stranice prati te promjene i integrira ih tako da osigura dug i sretan život vaše stranice.

                        Agencija epepe nudi usluge hostinga, održavanja servera, zakupa domena, instalacije zakrpa i unaprjeđenja te druge povezane usluge.
                    </p1>
            
                </div>


            </section>

            <Footer footer={footer}
            footerText={footerText}
            grayText={grayText}/>
        </main>
   
      
    </article>
    